@charset "utf-8";
/* CSS Document */ 

h1{
 color: blue;
 text-decoration: underline;
 text-align: center;
 }

 h2{
  color: red;
  text-decoration: underline;
  text-align: left;	
 }

p{
 color: blue;
 font-family: times new roman;
 font-size: 16px;
 margin-left: 20px;
 padding: 20px;
}

body{
 border-style: double;
 border-radius: 15px;
 border-color: blue;
 background-color: #A9F6C6;
 margin: 1px;	
}

ol{
 border-style: dashed;
 border-color: red;
 border-radius: 15px;	
}

li{
 color: red;	
}