@charset "utf-8";
/* CSS Document */ 

h1{
 color: blue;
 text-decoration: underline;
 text-align: center;
 }

body{
 border-style: double;
 border-radius: 15px;
 border-color: blue;
 background-color: #55FFEF;
 margin: 1px;	
}

img{
 width: 500px;
 height:300px;	
}

p{
 color: green;
 font-family: times new roman;
 font-size: 16px;
 text-align: left;
}